{% load staticfiles %}
<style>

    .test{


        position: fixed ;
        border: 4px double black;
        padding: 10px; /* Поля вокруг текста */



    }
        .leftimg {
         float:left; /* Выравнивание по левому краю */
         margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
        }

</style>
<div class = "test" >

<img src="{% static "images/femi.jpg"  %}" class ="leftimg">


<pre>1. От этого можно поехать?
Если имеются какие-то проблемы изначально, то вполне можно нечаянно их активировать. С другой стороны, поехавшесть может помочь в форсе. Но лучше несколько раз подумать, прежде чем начинать, имея какие-то проблемы с психикой. Если всё-таки решитесь, главное — отбросить все предыдущие страхи.
На заметку: тульпа — не шизофрения, а голоса при засыпании могут слышать все.
2. Зачем?

Му-у!</pre>
</div>
<p>sdfsdfsdf
    <a href="URL">sdfffffffffffff</a>
</p>
<a href="URL">sdfffffffffffff</a>
