{% load staticfiles %}
<style>

    .test{


        position: fixed ;
        border: 4px double black;
        padding: 10px; /* Поля вокруг текста */



    }
        .leftimg {
         float:left; /* Выравнивание по левому краю */
         margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
        }

</style>
<div class = "test" >

<img src="{% static "images/femi.jpg"  %}" class ="leftimg">



</div>
<p>sdfsdfsdf
    <a href="URL">sdfffffffffffff</a>
</p>
<a href="URL">sdfffffffffffff</a>
